* {
  padding: 0;
  margin: 0;
}

body  {
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-template-rows: 100px 700px 100px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
      'header header'
      'aside  main'
      'footer footer';
}

header {
  grid-area: header;
}

nav {

}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

a {
  color: red;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

img {
  max-width: 100%;
}

/*header and nav bar*/

.nav-bar {
  margin-right: 7%;
  float: right;
}

/*aside column*/

.bio-container {

}

.about-me {

}

.resume-section {

}

/*main project grid*/

.my-work {

}

.projects-grid-wrapper {

}

.projects-grid {

}

.projects-grid a {

}

.image-container-1 {

}

.image-container-2 {
  
}

.image-container-3 {
  
}

.image-container-4 {
  
}

.image-container-5 {
  
}

.fbox-container__image flexbox--grow {

}

/*footer contact me section*/

.contact-list {
  margin-right: 7%;
  float: right;
}